:root {
  /* colors */
  --white: #FFFFFF;
  --gray: #EDEDED;
  --yellow: #FFCD00;
  --dark-yellow: #F5BF00;
  --brow: #5B1A0D;
  --red: #E63000;
  /* transition time*/
  --short: .3s;
  --middle: .5s;
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: local('PF Din Text Cond Pro Regular'), local('PFDinTextCondPro-Regular'),
    url('../fonts/pfdintextcondpro-regular.woff2') format('woff2'),
    url('../fonts/pfdintextcondpro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: local('PF Din Text Cond Pro Medium'), local('PFDinTextCondPro-Medium'),
    url('../fonts/pfdintextcondpro-medium.woff2') format('woff2'),
    url('../fonts/pfdintextcondpro-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  font-size: 0;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* header */

.header__container {
  padding: 23px 15px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* burger */
.burger {
  position: relative;
  width: 23px;
  height: 17px;
  display: none;
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
}

.burger__span {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 0;
  width: 23px;
  height: 3px;
  background: var(--brow);
  -webkit-transition: background var(--short) ease;
  -o-transition: background var(--short) ease;
  transition: background var(--short) ease;
}

.burger::after,
.burger::before {
  content: '';
  left: 0;
  position: absolute;
  height: 3px;
  background: var(--brow);
  -webkit-transition: background var(--short) ease;
  -o-transition: background var(--short) ease;
  transition: background var(--short) ease;
}

.burger::after {
  top: 0;
  width: 23px;
}

.burger::before {
  bottom: 0;
  width: 23px;
}

.burger-active.burger::after {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
  -ms-transform: rotate(-45deg) translate(0px, -50%);
  transform: rotate(-45deg) translate(0px, -50%);
}

.burger-active.burger::before {
  width: 23px;
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
  -ms-transform: rotate(45deg) translate(0px, 50%);
  transform: rotate(45deg) translate(0px, 50%);
}

.burger:hover .burger__span,
.burger:hover::after,
.burger:hover::before {
  background: var(--red);
}

.burger-active .burger__span {
  opacity: 0;
}

.header__link {
  margin-right: 30px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 80px;
}

.nav__item:hover a {
  color: var(--red);
}

.nav__link {
  font-weight: 500;
  color: var(--brow);
}

.nav__list-mob {
  display: none;
}

.nav__socials-mob {
  display: none;
}

.header__btn-sign {
  margin-right: 13px;
  padding: 10px 42px;
  font-size: 16px;
  font-weight: 500;
  color: var(--brow);
  border: none;
  border-radius: 29px;
  background: var(--yellow);
}

.header__btn-sign:hover {
  color: var(--white);
  background: var(--red);
}

.header__btn-reg {
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: inherit;
  color: var(--brow);
}

.header__btn-reg:hover {
  color: var(--red);
}

/* hero */
.hero {
  height: 765px;
  background-image: url(../img/hero/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--yellow);
}

.hero__container {
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.hero__btn {
  margin-top: auto;
  padding: 14px 60px;
  color: var(--white);
  background-color: var(--red);
  border-radius: 46px;
  border: 10px solid var(--white);
}

.hero__btn:hover {
  border-color: var(--gray);
}

/* conditions */
.conditions {
  padding: 30px 0;
  background-color: var(--dark-yellow);
}

.conditions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 35px 0;
}

.conditions__title {
  margin-top: 0;
  margin-bottom: 60px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-weight: 500;
  font-size: 60px;
  color: var(--red);
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 1);
}

.conditions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-right: 50px;
  list-style: none;
}

.conditions__item {
  position: relative;
  width: 100%;
  padding-top: 65px;
  background-repeat: no-repeat;
  background-position: top center;
}

.conditions__item:not(:last-child) {
  margin-right: 68px;
}

.conditions__item:not(:last-child)::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 46px;
  background-image: url('../img/conditions/arrow.svg');
  top: 75px;
  right: -40px;

}


.conditions__item-1 {
  background-image: url('../img/conditions/item-1.svg');
}

.conditions__item-2 {
  background-image: url('../img/conditions/item-2.svg');
}

.conditions__item-3 {
  background-image: url('../img/conditions/item-3.svg');
}

.conditions__item-4 {
  background-image: url('../img/conditions/item-4.svg');
}

.conditions__item-5 {
  background-image: url('../img/conditions/item-5.svg');
}

.conditions__desc {
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: var(--brow);
}

/* actions */
.actions__container {
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.actions__title {
  margin-top: 0;
  margin-bottom: 15px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-weight: 500;
  font-size: 36px;
  color: var(--brow);
  text-transform: uppercase;
}

.actions__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.actions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: auto;
}

.actions__pic {
  display: block;
  margin-bottom: 40px;
}

.actions__content {
  text-align: center;
}

.actions__desc {
  display: block;
  font-weight: 400;
  font-size: 18px;
  color: var(--brow);
}

/* slider */
.actions__slider-container {
  padding: 30px 85px 80px;
  position: relative;
}

.actions__button-prev,
.actions__button-next {
  position: absolute;
  top: 36%;
  width: 20px;
  height: 30px;
  color: #5B1A0D;
  background-image: url('../img/icons/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.actions__button-prev:hover,
.actions__button-next:hover {
  background-image: url('../img/icons/arrow-hover.svg');
}

.actions__button-next {
  right: 15px;
  background-image: url('../img/icons/arrow.svg');

}

.actions__button-prev {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 15px;
}

.actions__pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 11px;
  height: 12px;
  background: var(--brow);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--white);
  border: 1px solid var(--brow);
}

.swiper-pagination-bullet:hover {
  background-color: var(--red);
}

/* footer */
.footer__container {
  padding: 30px 15px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

}

.contacts__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--brow);
  text-transform: uppercase;
}

.contacts__desc {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 500;
  color: var(--red);
}

.contacts__copirate {
  font-size: 12px;
  color: var(--brow);
}

.c-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-block__item:hover a {
  color: var(--red);
}

.c-block__item:not(:last-child) {
  margin-right: 70px;
}

.c-block__link {
  font-size: 16px;
  font-weight: 500;
  color: var(--brow);
}

.socials__title {
  margin-top: 0;
  font-size: 16px;
  color: var(--brow);
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials__item {
  text-align: center;
  width: 32px;
  height: 32px;
  background: var(--yellow);
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}

.socials__item:hover {
  background-color: var(--red);
}

.socials__item-f {
  background-image: url(../img/socials/f.svg);
}

.socials__item-vk {
  background-image: url(../img/socials/vk.svg);
}

.socials__item-in {
  background-image: url(../img/socials/in.svg);
}

.socials__item-t {
  background-image: url(../img/socials/t.svg);
}

.socials__item-inst {
  background-image: url(../img/socials/inst.svg);
}

.socials__item-p {
  background-image: url(../img/socials/p.svg);
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer__copirate {
  display: none;
}

/* modal */

.modal {
  display: none;
}

.modal--opened {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  background-color: var(--white);
  border: 2px solid var(--brow);

  -webkit-transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);

  transform: translate(-50%, -50%);
  z-index: 9999;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* adaptive */
@media(max-width: 1200px) {
  .hero {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}


@media(max-width: 905px) {
  .burger {
    display: block;
    margin-right: 15px;
  }

  .header__container {
    padding: 17px 15px 15px;
  }

  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__nav {
    position: fixed;
    left: 0;
    top: 60px;
    padding: 25px 20px 25px;
    width: 100%;
    background: var(--yellow);
    z-index: 10;
    -webkit-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    transform: translateY(-130%);
    -webkit-transition: opacity var(--short) ease, visibility var(--short) ease, -webkit-transform var(--middle) ease;
    transition: opacity var(--short) ease, visibility var(--short) ease, -webkit-transform var(--middle) ease;
    -o-transition: transform var(--middle) ease, opacity var(--short) ease, visibility var(--short) ease;
    transition: transform var(--middle) ease, opacity var(--short) ease, visibility var(--short) ease;
    transition: transform var(--middle) ease, opacity var(--short) ease, visibility var(--short) ease, -webkit-transform var(--middle) ease;
  }

  .header__nav-open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity var(--short) ease, visibility var(--short) ease, -webkit-transform var(--middle) ease;
    transition: opacity var(--short) ease, visibility var(--short) ease, -webkit-transform var(--middle) ease;
    -o-transition: transform var(--middle) ease, opacity var(--short) ease, visibility var(--short) ease;
    transition: transform var(--middle) ease, opacity var(--short) ease, visibility var(--short) ease;
    transition: transform var(--middle) ease, opacity var(--short) ease, visibility var(--short) ease, -webkit-transform var(--middle) ease;
  }

  .nav__list,
  .nav__list-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECB200;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .nav__link {
    font-size: 16px;
    font-weight: 500;
  }

  .nav__list-mob {
    margin: 0;
    padding: 25px 0;
    list-style: none;

  }

  .nav__socials-mob {
    display: block;
    padding-top: 25px;
  }

  .socials__item-mob {
    background-color: #ECB200;
  }

  .header__btn-sign {
    margin-right: 0;
    padding: 8px 20px 7px 22px;
  }

  .header__btn-reg {
    display: none;
  }

  .hero {
    height: 500px;
  }

  .conditions__list {
    padding: 0 15px;
  }

}

@media(max-width: 870px) {
  .conditions__title {
    font-size: 34px;
  }

  .conditions__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .conditions__item {
    position: relative;
    max-width: 220px;

  }

  .conditions__item:not(:last-child) {
    padding-bottom: 36px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .conditions__item:not(:last-child)::before {
    right: 45%;
    left: 45%;
    top: 80%;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .conditions__desc {
    font-size: 20px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__c-block {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 25px;
  }

  .contacts__copirate {
    display: none;
  }

  .footer__contacts {
    margin-bottom: 25px;
  }

  .contacts__title {
    margin-bottom: 25px;
  }

  .contacts__desc {
    margin-bottom: 0;
  }

  .contacts__title,
  .socials__title {
    text-align: center;
  }

  .footer__socials {
    margin-bottom: 25px;
  }

  .footer__copirate {
    display: block;
  }

}

@media(max-width: 750px) {
  .hero {
    height: 400px;
  }

}

@media(max-width: 600px) {
  .hero {
    height: 300px;
  }

  .hero__btn {
    padding: 7px 32px;
    border-width: 6px;

  }

  .actions__slider-container {
    padding: 30px 30px 50px;
  }

  .actions__button-prev,
  .actions__button-next {
    display: none;
  }
  .modal--opened{
    width: 100%;
    height: 400px;
  }

}

@media(max-width: 450px) {
  .hero {
    height: 250px;
  }

  .conditions__title {
    text-align: center;
  }

  .actions__slider-container {
    padding: 15px 0 50px;
  }
  .c-block__item:not(:last-child){
    margin-right: 30px;
  }
  .c-block__link{
    font-size: 14px;
  }
}

@media(max-width: 360px) {
  .hero {
    height: 200px;
  }
}