.header{
  &__container {
    padding: 23px 15px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    margin-right: 30px;
  }
  &__btn-sign {
    margin-right: 13px;
    padding: 10px 42px;
    font-size: 16px;
    font-weight: 500;
    color: var(--brow);
    border-radius: 29px;
    background: var(--yellow);
    transition: var(--middle) ease;
    &:hover{
      color: var(--white);
      background: var(--red);
    }
  }
  &__btn-reg {
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
    color: var(--brow);
    transition: var(--middle) ease;
    &:hover{
      color: var(--red);
    }
  }
}

@media(max-width: 905px) {
  .header{
    &__container {
      padding: 17px 15px 15px;
    }
    &__wrap {
      display: flex;
      align-items: center;
    }
    &__nav {
      position: fixed;
      left: 0;
      top: 65px;
      padding: 25px 20px 25px;
      width: 100%;
      background: var(--yellow);
      z-index: 10;
      transform: translateY(-130%);
      transition: opacity var(--short) ease, visibility var(--short) ease;
      transition: transform var(--middle) ease, opacity var(--short) ease, visibility var(--short) ease;
      &-open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: opacity var(--short) ease, visibility var(--short) ease;
        transition: transform var(--middle) ease, opacity var(--short) ease, visibility var(--short) ease;
      }
    }
    &__btn-sign {
      margin-right: 0;
      padding: 8px 20px 7px 22px;
    }
    &__btn-reg {
      display: none;
    }
  }
}
