html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-anchor: none;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  font-size: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.hidden {
  visibility: hidden;
}

.visually-hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.disable-scroll{
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 10;
}
