:root {
  /* colors */
  --white: #FFFFFF;
  --gray: #EDEDED;
  --yellow: #FFCD00;
  --dark-yellow: #F5BF00;
  --brow: #5B1A0D;
  --red: #E63000;
  /* transition time*/
  --short: .3s;
  --middle: .5s;
}
